<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General Purpose Web Site</title>
    <link href="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
    <script src="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/static/jquery/jquery-3.6.0.min.js"></script>
    <style>
    .fixed_top {
        background-color:#e6f4fa;
        padding:10px;
    }

    .django-ckeditor-widget {
      width: 100%;
    }

    .remain_content {
        background-color:white;
    }
    a {
      text-decoration: none;
    }
    button{
        width: 90px;
        height: 30px;
        background-color: #278de3;
        text-align: center;
        line-height: 30px;
        border: none;
        color: white;
        border-radius: 5px;
        margin-left: 10px;
    }
    </style>
</head>
<body>
<style>

</style>
<div class="fixed_top">
    <div style="width:200px; display:inline-block"><a href="/">Home 으로</a></div>
    <div style="width:calc(100% - 220px); display:inline-block; text-align:right">
        {% if user.is_authenticated %}
            <a style="margin-right:20px;" href="{% url 'app_sign:my_page' %}" id="username"> 마이페이지 - {{ user.first_name }}</a>
            <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
            <form id="logout" method="POST" action="{% url 'app_sign:logout' %}">
                {% csrf_token %} <input type="hidden" />
            </form>
        {% else %}
            <a href="{% url 'app_sign:sign_up' %}">회원가입</a>
            <a href="{% url 'app_sign:login' %}">로그인</a>
        {% endif %}
    </div>
</div>
<div style="margin:5px">
    관리자에게 메시지하기 ▶
    <textarea id = 'audience_msg'>write message you want</textarea>
    <button id = 'submit'>Whisper</button>
</div>
<div class="remain_content">
{% block contents %}
None Yet,,
{% endblock %}
</div>
<script type="text/javascript">
$.ajaxSetup({
headers: { "X-CSRFToken": '{{csrf_token}}' }
});

$('#submit').on('click', function(e) {
    data = {
        "audience_msg":$('#audience_msg').val(),
        "username":$('#username').text(),
    }
    $.ajax({
        type:'POST',
        url:'/app_board/audience/',
        data:JSON.stringify(data),
        dataType : "json",
        timeout: 10000,
        contentType:"application/json",
        success:function(json){
            console.log("data pass success",json);
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText);
        }
   });
  });
</script>
</body>
</html>