<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General Purpose Web Site</title>

    <script src="/static/ckeditor/ckeditor.js">
        // HTML 임베드 참조 > https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html
    </script>
    <script src="/static/ckeditor/ko.js"></script>
    <style>
      .ck-editor__editable { height: 800px; }
      .ck-content { font-size: 12px; }
    </style>
</head>
<body>
<div style="width:200px; display:inline-block"><a href="/">Home 으로.</a></div>
<div style="width:calc(100% - 220px); display:inline-block; text-align:right">
    {% if user.is_authenticated %}
        <a style="margin-right:20px;" href="{% url 'app_sign:my_page' %}">{{ user.username }}</a>
        <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
        <form id="logout" method="POST" action="{% url 'app_sign:logout' %}">
            {% csrf_token %} <input type="hidden" />
        </form>
    {% else %}
        <a href="{% url 'app_sign:sign_up' %}">회원가입</a>
        <a href="{% url 'app_sign:login' %}">로그인</a>
    {% endif %}
</div>
{% block contents %}
None Yet,,
{% endblock %}

</body>
</html>