{% extends "base.html" %}

{% block contents %}
<style>
    a {
      text-decoration: none;
    }
    li {
        line-height: 1.5em;

    }

    table, td, th {
        border : 1px solid lightgrey;
        border-collapse : collapse;
    }
</style>

{% load template_list %}
{% if lastest_article_list %}
    <font color="black"> THIS IS ARTICLE PAGE </font>
<br>
<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>.
            <th>글쓴이</th>
            <th>작성시각</th>
        </tr>
    </thead>
    <tbody>
        <font color="black" size=3>
        {% for article in lastest_article_list %}
        <tr>
            <td>    {{ article.id }}  </td>
            <td>     <a href="/app_board/{{ article.id }}"> {% if article.is_blocked == True %}(검열됨){% else %}{{ article.title }}{% endif %}
                        <font color="grey" size=2>[{{ view_cnt_list|return_item:forloop.counter0 }}]</font>
                    </a>
            </td>
            <td>    {{ article.author }} </td>
            <td>    {{ article.create_dt|date:'Y-m-d H:i' }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No Articles there</p>
{% endif %}
    <div><a href="{% url 'app_board:write_article' %}"><button>글 작성</button></a></div>

{% endblock contents %}