{% extends "base.html" %}

{% block contents %}
<style>
    table{
        width:100%;
        margin-bottom:20px;
    }
    a {
      text-decoration: none;
    }
    li {
        line-height: 1.5em;
    }

    table, td, th {
        border : 1px solid lightgrey;
        border-collapse : collapse;
        text-align: left;
    }
    table th{
        text-align: center;
    }
    table tr:nth-chile(1), table td:nth-child(1){
        width:40px;
        text-align: center;
    }
    table tr:nth-child(4), table td:nth-child(4){
        width:160px;
        text-align: center;
    }
    table tr:nth-child(3), table td:nth-child(3){
        width:100px;
        text-align: center;
    }
</style>

{% load template_list %}
{% if lastest_article_list %}
<div style="margin-top:20px">THIS IS ARTICLE PAGE </div>
<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>작성시각</th>
        </tr>
    </thead>
    <tbody>
        <font color="black" size=3>
        {% for article in lastest_article_list %}
        <tr>
            <td>    {{ article.id }}  </td>
            <td>     <a href="/app_board/{{ article.id }}"> {% if article.is_blocked == True %}(검열됨){% else %}{{ article.title }}{% endif %}
                        <font color="grey" size=2>[{{ view_cnt_list|return_item:forloop.counter0 }}]</font>
                    </a>
            </td>
            <td>    {% if article.author is not None %}{{ article.author.username }}{% else %}<i>(미등록 사용자)</i>{% endif %} </td>
            <td>    {{ article.create_dt|date:'Y-m-d H:i' }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No Articles there</p>
{% endif %}
<a style="color:#ffffff" href="{% url 'app_board:write_article' %}"><div style="width:120px; height:45px; background-color:#278de3;text-align:center;line-height:45px;float:right">글 작성</div></a>

{% endblock contents %}