{% extends "base.html" %}

{% block contents %}
<style>
    table{
        width:100%;
        margin-bottom:20px;
    }
    li {
        line-height: 1.5em;
    }

    table, td, th {
        border : 1px solid lightgrey;
        border-collapse : collapse;
        text-align: left;
    }
    table th{
        text-align: center;
    }
    table tr:nth-child(1), table td:nth-child(1){
        width: 50px;
        text-align: center;
    }

    table tr:nth-child(2), table td:nth-child(2){
        padding-left: 10px;
    }
    table tr:nth-child(3), table td:nth-child(3){
        width: 200px;
        text-align: left;
        padding-left: 10px;
    }
    table tr:nth-child(4), table td:nth-child(4){
        width: 160px;
        text-align: center;
    }
    table td div{
        display:inline-block;
        vertical-align:middle;
        position:relative;
        max-width: calc(100% - 28px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

{% load template_list %}

<a href="/app_board/board/{{ ib.board.id }}"><b>{{ ib.board.title }}</b></a>

{% if ib.aibs %}
    <table style="margin-top:20px">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성시각</th>
            </tr>
        </thead>
        <tbody>
            <font color="black" size=3>
            {% for aib in ib.aibs %}
            <tr>
                <td>    <!-- 게시글 ID -->
                    {{ aib.article.id }}
                </td>   <!-- 게시글 ID [END] -->
                <td>    <!-- 게시글 제목 -->
                    <div>
                        <a href="/app_board/{{ aib.article.id }}">
                            {% if user.is_authenticated and aib.article.author == user %}
                                {{ aib.article.title }}
                            {% else %}
                                {% if aib.article.is_blocked == True %}
                                    (검열됨)
                                {% else %}
                                    {{ aib.article.title }}
                                {% endif %}
                            {% endif %}
                            <font color="grey" size=2>[{{ aib.comment_cnt }}]</font>
                        </a>
                    </div>
                </td>   <!-- 게시글 제목 [END] -->
                <td>    <!-- 게시자 정보 -->
                    <div>
                        {% if aib.article.is_blocked == True %}
                            (검열됨)
                        {% else %}
                            {% if aib.article.author is not None %}
                                {{ aib.article.author.first_name }}
                            {% else %}
                                <font color="grey">Guest</font>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>   <!-- 게시자 정보 [END] -->
                <td>    <!-- 게시일자 -->
                    <div>
                        {{ aib.article.create_dt|date:'Y-m-d H:i' }}
                    </div>
                </td>   <!-- 게시일자 [END] -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No Articles there</p>
{% endif %}
<select>
    <option value="title_contents" selected="selected">제목+내용</option>
</select>
<input type="text" placeholder ="(test)" value="" required="" id="search_str" size="15" maxlength="20">
<input type="submit" value="검색" id="btn_search">

<a style="color:#ffffff" href="{% url 'app_board:write_article_in_board' ib.board.id %}">
    <div style="width:90px; height:45px; background-color:#278de3; text-align:center; vertical-align: middle; line-height:45px; float:right">글 작성</div></a>

{% endblock contents %}