{% extends "base.html" %}

{% block contents %}
<style>
    table{
        width:100%;
        margin-bottom:20px;
    }
    li {
        line-height: 1.5em;
    }

    table, td, th {
        border : 1px solid lightgrey;
        border-collapse : collapse;
        text-align: left;
    }
    table th{
        text-align: center;
    }
    table tr:nth-child(1), table td:nth-child(1){
        width: 50px;
        text-align: center;
    }

    table tr:nth-child(2), table td:nth-child(2){
        padding-left: 10px;
    }
    table tr:nth-child(3), table td:nth-child(3){
        width: 200px;
        text-align: left;
        padding-left: 10px;
    }
    table tr:nth-child(4), table td:nth-child(4){
        width: 160px;
        text-align: center;
    }
    table td div{
        display:inline-block;
        vertical-align:middle;
        position:relative;
        max-width: calc(100% - 28px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

{% load template_list %}

<b>{{ board.title }}</b>
{% if lastest_article_list %}
<table style="margin-top:20px">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>작성시각</th>
        </tr>
    </thead>
    <tbody>
        <font color="black" size=3>
        {% for article in lastest_article_list %}
        <tr>
            <td>    {{ article.id }}  </td>
            <td>
                <div>
                    <a href="/app_board/{{ article.id }}">
                        {% if user.is_authenticated and article.author == user %}
                            {{ article.title }}
                        {% else %}
                            {% if article.is_blocked == True %}
                                (검열됨)
                            {% else %}
                                {{ article.title }}
                            {% endif %}
                        {% endif %}
                        <font color="grey" size=2>[{{ view_cnt_list|return_item:forloop.counter0 }}]</font>
                    </a>
                </div>
            </td>
            <td><div>
                {% if article.is_blocked == True %}
                    (검열됨)
                {% else %}
                    {% if article.author is not None %}
                        {{ article.author.first_name }}
                    {% else %}
                        <font color="grey">Guest</font>
                    {% endif %}
                {% endif %} </div></td>
            <td><div> {{ article.create_dt|date:'Y-m-d H:i' }} </div></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No Articles there</p>
{% endif %}

<a style="color:#ffffff" href="{% url 'app_board:write_article' %}">
    <div style="width:90px; height:45px; background-color:#278de3; text-align:center; vertical-align: middle; line-height:45px; float:right">글 작성</div></a>

{% endblock contents %}