{% extends "base.html" %}

{% block contents %}

{% with blocked_msg='(검열됨)' %}

{% comment %}
    {% if user.is_authenticated and article.author == user %} 를 통해 해당 글의 작성자인지 검사
{% endcomment %}

<style>
    .title-area{
        position: relative;
        border-bottom: 1px solid #e7e7e7;
    }

    .title{
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -.2px;
        margin: 0px;
        padding: 10px;
    }

    .article-info{
        list-style: none;
        margin: 0 0 10px 10px;
        padding:0;
    }

    .article-info li{
        margin-right: 8px;
        position: relative;
        float: left;
        font-size: 14px;
        color: #777;
    }

    .article-info li:after{
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        border-left: 1px solid #e7e7e7;
        height: 12px;
        content: "";
    }

    .article-info:after, .button-area:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        clear: both;
    }

    button{
        width: 90px;
        height: 30px;
        background-color: #278de3;
        text-align: center;
        line-height: 30px;
        border: none;
        color: white;
        border-radius: 5px;
        margin-left: 10px;
    }
</style>

<hr>
{# 작성자일 때는 검열여부과 관계없이 표시 #}
<div class="title-area">
    <p class="title">
        {% if user.is_authenticated and article.author == user %}
            {{ article.title }}
        {% else %}
            {% if article.is_blocked == True %}{{ blocked_msg }}{% else %}{{ article.title }}{% endif %}
        {% endif %}
    </p>
    <ul class="article-info">
        <li class> 생성시각 : {{ article.create_dt|date:'Y-m-d H:i' }} </li>
        {% if article.create_dt != article.modify_dt %}
            <li> 수정시각 : {{ article.modify_dt|date:'Y-m-d H:i' }} </li>
        {% endif %}
        <li> 작성자 :
            {% if user.is_authenticated and article.author == user %}
                {% if article.author is not None %}
                    {{ article.author.username }}
                {% else %}
                    <i>Guest</i>
                {% endif %}
            {% else %}
                {% if article.is_blocked == True %}
                    {{ blocked_msg }}
                {% else %}
                    {% if article.author is not None %}
                        {{ article.author.username }}
                    {% else %}
                        <i>Guest</i>
                    {% endif %}
                {% endif %}
            {% endif %}
        </li>
        <li> 작성IP : {{ article.work_ip }} </li>
        <li> 조회수 : {{ article.view_cnt }} </li>
        <li> <font color="red"> {% if article.is_blocked == True %}{{ blocked_msg }}{% endif %}</font> </li>
    </ul>
</div>

<div>
    <!-- 차단된 게시글 본인 확인 가능하도록 수정  -->
    <div id="editor">
        {% if user.is_authenticated and article.author == user %}
            {% autoescape off %}
                {{ article.contents|linebreaksbr }}
            {% endautoescape %}
        {% else %}
            {% if article.is_blocked == True %}
                {{ blocked_msg }}
            {% else %}
                {% autoescape off %}
                    {{ article.contents|linebreaksbr  }}
                {% endautoescape %}
            {% endif %}
        {% endif %}
    </div>
</div>

<hr>
{% endwith %}

<!-- 작성자 본인이면 수정 버튼 활성화 -->
{% if user.is_authenticated and article.author == user %}
    <div class="button-area">
        <a style="float:right" href="{% url 'app_board:delete_article' article.id %}"><button style="background-color:red">삭제</button></a>
        <a style="float:right" href="{% url 'app_board:update_article' article.id %}"><button>수정</button></a>
    </div>
{% endif %}
<div class="button-area">
    <!-- 관리자면 검열 버튼 활성화 --><!-- 임시로 루프백 ip로 설정 -->
    {% if user.is_authenticated and user.is_staff %}
        <style>
            .button-blocks {
                background-color: black;
                color: yellow;
                font-weight: bold
            }
        </style>
        {% if article.is_blocked == False %}
            <a href="{% url 'app_board:block_article' article.id 1 %}"><button class="button-blocks">검열</button></a>
        {% else %}
            <a href="{% url 'app_board:block_article' article.id 0 %}"><button class="button-blocks">검열해제</button></a>
        {% endif %}
    {% endif %}
</div>

<hr>

<form action="{% url 'app_board:write_comment' article.id %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated %}
        {{ user.username }} &nbsp
    {% endif %}

    {{ comment_form.media }}
    {{ comment_form.as_p }}

    {% if error %}
        {{ error }}
    {% endif %}
    <br>
    <button type="submit">댓글 입력</button>
</form>

<hr>
{% if comments %}
    <font color="grey"> 댓글 </font>
    <ul>
        {% for comment in comments %}
        <li>{% if comment.author is not None %}
                [{{ comment.author.username }}]
            {% else %}
                <i>Guest</i>
             {% endif %}

            <a href="{% url 'app_board:delete_comment' article.id comment.id %}">
                <button style="background-color:red; height:20px; width:50px;line-height: 20px;">
                    삭제
                </button>
            </a>
            <font color="grey">{{ comment.work_ip }} </font> >>

                {% autoescape off %}
                    {{ comment.contents|linebreaksbr }}
                {% endautoescape %}
            {% if user.is_authenticated and comment.author == user %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Reply there</p>
{% endif %}

{% endblock %}