{% extends "base.html" %}

{% block contents %}

{% with blocked_msg='(검열됨)' %}

{% comment %}
    {% if user.is_authenticated and article.author == user %} 를 통해 해당 글의 작성자인지 검사
{% endcomment %}

<hr>
{# 작성자일 때는 검열여부과 관계없이 표시 #}
<p> 글 제목 :
    {% if user.is_authenticated and article.author == user %}
        {{ article.title }}
    {% else %}
        {% if article.is_blocked == True %}{{ blocked_msg }}{% else %}{{ article.title }}{% endif %}
    {% endif %}
</p>
<p> 생성시각 : {{ article.create_dt|date:'Y-m-d H:i' }} </p>
<p> 작성자 : {% if article.author is not None %}{{ article.author.username }}{% else %}<i>(미등록 사용자)</i>{% endif %} </p>
<p> 작성IP : {{ article.work_ip }} </p>
<p> 조회수 : {{ article.view_cnt }} </p>
<font color="red"> {% if article.is_blocked == True %}{{ blocked_msg }}{% endif %}</font>
<hr>
글 내용 :
<br>

<!-- 차단된 게시글 본인 확인 가능하도록 수정  -->
<div id="editor">
{% if user.is_authenticated and article.author == user %}
    {% autoescape off %}
        {{ article.contents|linebreaksbr }}
    {% endautoescape %}
{% else %}
    {% if article.is_blocked == True %}
        {{ blocked_msg }}
    {% else %}
        {% autoescape off %}
            {{ article.contents|linebreaksbr  }}
        {% endautoescape %}
    {% endif %}
{% endif %}
</div>

<hr>
{% endwith %}

<!-- 작성자 본인이면 수정 버튼 활성화 -->
{% if user.is_authenticated and article.author == user %}
    <a href="{% url 'app_board:update_article' article.id %}"><button>수정</button></a>
{% endif %}

<!-- 관리자면 검열 버튼 활성화 --><!-- 임시로 루프백 ip로 설정 -->
{% if user.is_authenticated and user.is_staff %}
    {% if article.is_blocked == False %}
        <a href="{% url 'app_board:block_article' article.id 1 %}"><button>검열</button></a>
    {% else %}
        <a href="{% url 'app_board:block_article' article.id 0 %}"><button>검열해제</button></a>
    {% endif %}
{% endif %}
<hr>
<form action="{% url 'app_board:write_comment' article.id %}" method="POST">

    {% csrf_token %}
    <input type="text" name="comment">

    <button type="submit">댓글 입력</button>
</form>
<hr>
{% if comments %}
    <font color="grey"> 댓글 </font>
    <ul>
        {% for comment in comments %}
        <li>{% if comment.author is not None %}
                [{{ comment.author.username }}]
            {% else %}
                <i>(미등록 사용자)</i>
             {% endif %}
            <font color="grey">{{ comment.work_ip }} </font> >> {{ comment.contents }}
            {% if user.is_authenticated and comment.author == user %}<a href="{% url 'app_board:delete_comment' article.id comment.id %}"><button>삭제</button></a>{% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No Reply there</p>
{% endif %}

<script>

// read_only 옵션 참조 > https://ckeditor.com/docs/ckeditor5/latest/api/module_core_editor_editor-Editor.html#function-enableReadOnlyMode

	ClassicEditor
		.create( document.querySelector( '#editor' ), {
		        toolbar: [  ],
		} )
		.then( editor => {
		    editor.enableReadOnlyMode( '#editor' );

			window.editor = editor;
		} )
		.catch( error => {
			console.error( 'There was a problem initializing the reader.', error );
		} );
</script>

{% endblock %}