{% extends "base.html" %}

{% block contents %}

<div>게시판 글 <font color="#8000FF">작성</font> 중 . . . </div>
<br>
<form action="" method="POST">
    {% csrf_token %}

    {% for form in forms %}
    <div>
        <label for="{{ form.id_for_label }}">{{ form.label }}</label>
        <br>
        {{ form }}
    </div>
    {% endfor %}

    {% if error %}
        {{ error }}
    {% endif %}
    <button type="submit">완성</button>
</form>

<script>
    ClassicEditor
    .create( document.querySelector('#id_contents'), {
    // 플러그인 제거 참조 > https://ckeditor.com/docs/ckeditor5/latest/installation/getting-started/configuration.html
        removePlugins: [ 'MediaEmbed' ], // else ['CKFinderUploadAdapter', 'CKFinder', 'EasyImage', 'Image', 'ImageCaption', 'ImageStyle', 'ImageToolbar', 'ImageUpload', 'MediaEmbed']
        language: "ko"
    } )
    .catch(error => {
      console.error(error);
    })
    ;
</script>
{% endblock %}