{% extends "base.html" %}

{% block contents %}

<div>게시판 글 <font color="#8000FF">작성</font> 중 . . . </div>
<br>
<form action="" method="POST">
    {% csrf_token %}

    {{ form.media }}
    {{ form.as_p }}

    {% if error %}
        {{ error }}
    {% endif %}
    <br>
    <button type="submit" style="float:right">완성</button>
</form>
<br>
<br>
<style>
    #id_title{
        width:100%;
        max-width:500px;
        height:30px;
        line-height:30px;
        line-height:30px;
        border:1px solid #dcdcdc;
        padding-left:10px;
        margin-bottom:10px;
    }
    #id_title:focus {
        border-color: #66afe9;
        outline:0;
        -webkit-box-shadow:inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
        box-shadow:inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    }
    label {
        font-wight:700;
        font-size:1.1em
    }
</style>
{% endblock %}