{% extends "app_board/base.html" %}

{% block contents %}

<form method="POST" action="{% url 'app_sign:sign_up' %}">
    {% csrf_token %}
    <p>user_id</p>
    <input type="text" name="user_id" value="{% if user_id %}{{ user_id }}{% endif %}"> <!-- 실패 시 page refresh 됨에도 입력한 user_id 를 유지 -->
    <br>
    <p>password</p>
    <input type="password" name="password">
    <br>
    <p>confirm</p>
    <input type="password" name="password_confirm">
    <br>
    <br>
    <input type="checkbox" id="inotabot">
    <label for="inotabot">나는 봇이 아닙니다</label>
    <br>
    <br>
    <input type="submit" value="회원가입">
</form>

{% if error %}
    {{ error }}
{% endif %}

{% endblock %}